@import '../reset.css';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.su-main-ct {
    margin: 0 auto 0 auto;
    text-align: center;

}

.su-main-ct>h2 {
    margin: 39px 0 29px 0;
    color: #2F4156;
    font-family: "Pretendard Variable";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 150% */
}

.su-main-ct>p {
    margin: 29px 0 67px 0;
    color: #2F4156;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 150% */
}


.su-main-ct>div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #2F4156;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su-main-ct>div>img {
    zoom: 0.8;
}

.su-main-ct>button {
    border-radius: 10px;
    background: #2F4156;
    width: 600px;
    padding: 20px 0;
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
}

@media screen and (min-width: 480px) {
    .su-main-ct {
        width: 600px;
    }
}

@media screen and (max-width: 1800px) {
    .su-main-ct>h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .su-main-ct>p {
        margin: 15px 0 58px 0;
        font-size: 20px;
        line-height: 36px;
    }

    .su-main-ct>div {
        width: 150px;
        height: 150px;
        margin-bottom: 85px;
    }

    .su-main-ct>div>img {
        zoom: 0.6;
    }

    .su-main-ct>button {
        width: 500px;
        padding: 17px 0;
        font-size: 20px;
        line-height: 36px;
    }

}

@media screen and (max-width: 767px) {
    .su-main-ct>h2 {
        font-size: 29.6px;
        line-height: 50px;
        margin: 39px 0 15px 0;
    }

    .su-main-ct>p {
        margin: 12px 0 40px 0;
        font-size: 16px;
        line-height: 30px;
    }

    .su-main-ct>div {
        width: 150px;
        height: 150px;
        margin-bottom: 90px;
    }

    .su-main-ct>div>img {
        zoom: 0.6;
    }

    .su-main-ct>button {
        width: 400px;
        padding: 14px 0;
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 479px) {
    .su-main-ct>h2 {
        font-size: 24px;
        line-height: 40px;
        margin: 39px 0 15px 0;
    }

    .su-main-ct>p {
        margin: 12px 0 40px 0;
        font-size: 12px;
        line-height: 18px;
    }

    .su-main-ct>div {
        width: 100px;
        height: 100px;
        margin-bottom: 60px;
    }

    .su-main-ct>div>img {
        zoom: 0.4;
    }

    .su-main-ct>button {
        width: 250px;
        padding: 10px 0;
        font-size: 12px;
        line-height: 18px;
    }
}