@import '../reset.css';


.su-profile-ct>img {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border: 2px solid #D9D9D9;
    background: #F3F4F6;
}

.su-profile-ct>label[for="lectureImg"] {
    border-radius: 10px;
    border: 2px solid #2F4156;
    background: #FFF;
    width: 161px;
    height: 64px;
}