#c-header {
    width: 100%;
    height: 85px;
    background: #2F4156;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    position: relative;
}

.c-logo-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.c-logo-title {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    height: 60px;


    display: flex;
    place-items: center;
}

.c-logo-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.c-logo-unlogin {
    display: none;
    gap: 5px;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.c-logo-unlogin>p:nth-child(1):hover {
    cursor: pointer;
}

.c-logo-unlogin>p:nth-child(3):hover {
    cursor: pointer;
}

.c-logo-right>img:hover {
    cursor: pointer;
}

.c-logo-right-content {
    width: 80px;
    height: 32px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 900;
}

.c-profile-active-ct {
    display: none;
    position: absolute;
    right: 30px;
    top: 85px;
    width: 20%;
    height: 220px;
    border-radius: 10px;
    background: rgba(47, 65, 86, 0.90);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);

    flex-direction: column;
}

.c-profile-inf-ct {
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid #E5E7EB;
    padding: 25px 25px;
}

.c-profile-content-ct {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-profile-content-ct>p:first-child {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.c-profile-content-ct>p:last-child {
    color: #B7B7B7;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.c-profile-my-profile-ct,
.c-profile-logout-ct {
    display: flex;
    gap: 15px;
    padding: 15px 25px;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.c-profile-logout-ct>p,
.c-profile-logout-ct>img,
.c-profile-my-profile-ct>img,
.c-profile-my-profile-ct>p {
    cursor: pointer;
}

.c-profile-student-sub,
.c-profile-lecture-sub {
    background: #C8D9E6;
    color: #567C8D;
}

.c-profile-student-unSub,
.c-profile-lecture-unSub {
    background: #F5EFED;
    color: #567C8D;
}

.c-profile-my-profile-ct {
    border-bottom: 1px solid #E5E7EB;
}