<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARDI</title>
    <link rel="icon" href="/src/assets/img/headLogo.png" />
    <link rel="stylesheet" href="/src/css/reset.css">
    <link rel="stylesheet" href="/src/css/components/content-detail.css">
</head>

<body>
    <div class="top-container">
        <main class="cd-side-margin">
            <article class="cd-lecture-img">사진</article>
            <article class="cd-main-container">
                <article class="cd-main-content">
                    <article class="cd-main-nav">
                        <p class="cd-nav-title" id="cd-nav-main">강의소개</p>
                        <p class="cd-nav-title" id="cd-nav-curry">커리큘럼</p>
                        <p class="cd-nav-title" id="cd-nav-community">커뮤니티</p>
                    </article>
                    <article class="cd-long-line">
                        <section class="cd-short-line" id="cd-short-line1"></section>
                        <section class="cd-short-line" id="cd-short-line2"></section>
                    </article>
                    <section id="cd-content-title">강의 제목</section>
                    <p id="cd-content-preview">이 텍스트는 강의 한줄 설명입니다.</p>
                    <article id="cd-category">HTML</article>
                    <article id="cd-after-container">
                        <section class="cd-content-index" id="cd-content-after">수강 후에는...</section>
                        <article class="cd-content-container" id="cd-after-container1">
                            <section class="cd-number" id="cd-after-number1">1</section>
                            <section class="cd-content" id="cd-after-content1">누구나 따라할 수 있도록 알려주는 강의</section>
                        </article>
                        <article class="cd-content-container" id="cd-after-container2">
                            <section class="cd-number" id="cd-after-number2">2</section>
                            <section class="cd-content" id="cd-after-content2">간단하게 누구나 따라할 수 있도록 알려주는 강의</section>
                        </article>
                        <article class="cd-content-container" id="cd-after-container3">
                            <section class="cd-number" id="cd-after-number3">3</section>
                            <section class="cd-content" id="cd-after-content3">쉽고 간단하게 누구나 따라할 수 있도록 알려주는 강의</section>
                        </article>
                    </article>
                    <article id="cd-simple-container">
                        <section class="cd-content-index" id="cd-content-simple">강의 요약</section>
                        <article class="cd-simple-content" id="cd-simple-content">이 강의는 기본적인 HTML, CSS, JS에 대한 지식을 다룹니다.
                            이 강의는 기본적인 HTML, CSS, JS에 대한 지식을 다룹니다.이 강의는 기본적인 HTML, CSS, JS에 대한 지식을 다룹니다.
                            이 강의는 기본적인 HTML, CSS, JS에 대한 지식을 다룹니다.이 강의는 기본적인 HTML, CSS, JS에 대한 지식을 다룹니다.
                        </article>
                    </article>
                    <article id="cd-curry-container">
                        <section class="cd-content-index" id="cd-content-curry">커리큘럼</section>
                        <article class="cd-content-container" id="cd-curry-container1">
                            <section class="cd-number" id="cd-curry-number1">1</section>
                            <section class="cd-content cd-curry-content" id="cd-curry-content1">HTML</section>
                        </article>
                        <ul class="cd-curry-list" id="cd-curry-list1">
                            <li>1번 태그</li>
                            <li>2번 태그</li>
                            <li>3번 태그</li>
                        </ul>
                        <article class="cd-content-container" id="cd-curry-container2">
                            <section class="cd-number" id="cd-curry-number2">2</section>
                            <section class="cd-content cd-curry-content" id="cd-curry-content2">CSS</section>
                        </article>
                        <ul class="cd-curry-list" id="cd-curry-list2">
                            <li>1번 스타일</li>
                            <li>2번 스타일</li>
                            <li>3번 스타일</li>
                        </ul>
                        <article class="cd-content-container" id="cd-curry-container3">
                            <section class="cd-number" id="cd-curry-number3">3</section>
                            <section class="cd-content cd-curry-content" id="cd-curry-content3">JS</section>
                        </article>
                        <ul class="cd-curry-list" id="cd-curry-list3">
                            <li>변수</li>
                            <li>함수</li>
                            <li>객체</li>
                        </ul>
                    </article>
                </article>
                <article class="cd-content-box">
                    <section id="price">₩80,000</section>
                    <article class="cd-content-info">
                        <section id="cd-lecturer-name">강사명: </section>
                        <section id="cd-use-time">이용 기간: 무제한</section>
                        <section id="cd-content-time">강의 시간: </section>
                        <section id="cd-content-level">난이도: </section>
                    </article>
                    <button class="cd-btn" id="cd-btn-color1">수정하기</button>
                    <button class="cd-btn" id="cd-btn-color2">삭제하기</button>
                </article>
            </article>
        </main>
    </div>

    <div class="active-modal"></div>
    <script type="module" src="../src/js/components/includeHeader.js"></script>
    <script type="module" src="../src/js/components/includeNav.js"></script>
    <!-- <script type="module" src="../src/js/components/modalOneButton.js"></script>
    <script type="module" src="../src/js/components/modalTwoButton.js"></script> -->
    <script type="module" src="/src/js/components/content-detail/content-detail.js"></script>
</body>

</html>