
    <header id="c-header">
        <div class="c-logo-left">
            <img src="/src/assets/img/logo.svg" />
            <p class="c-logo-title"> CARDI </p>
        </div>

        <div class="c-logo-right">
            <p class="c-logo-right-content"></p>
            <img  class="c-logo-profile" src="/src/assets/img/header-profile.svg" />
        </div>

        <div class="c-logo-unlogin">
            <p> 로그인 </p>
            <p> | </p>
            <p> 회원가입</p>
        </div>

        <div class="c-profile-active-ct">
            <div class="c-profile-inf-ct">
                <img src="/src/assets/img/header-profile.svg"> 
                <div class="c-profile-content-ct">
                    <p> 정지훈</p>
                    <p> cart0089@naver.com </p>
                </div>
            </div>

            <div class="c-profile-my-profile-ct">
                <img src="/src/assets/img/header-myprofile.svg">
                <p> 내 프로필 </p>
            </div>

            <div class="c-profile-logout-ct">
                <img src="/src/assets/img/header-logout.svg">
                <p> 로그아웃 </p>
            </div>
        </div>
    </header>