<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modalOneButton</title>
    <link rel="stylesheet" href="../src/css/modal.css">
</head>
<body>
    <div class="modal" data-url="./test.html">
        <div class="modal-container">
            <div class="modal-top">
                삭제하시겠습니까?<br>
                삭제 후엔 되돌릴 수 없습니다.
            </div>
            <div class="modal-bottom modal-check" id="modal-check1">확인</div>
        </div>
    </div>
    <script type="module" src="../src/js/modalOneButton.js"></script>
</body>
</html>