    <!-- <nav id="c-nav" class="c-nav-lecture c-lecture">
        <div class="c-home-ct">
            <img src="/src/assets/img/nav-home.svg" />
            <p class="c-home-title"> 홈 </p>
        </div>

        <div class="c-student-ct">
            <img src="/src/assets/img/nav-student.svg" />
            <p class="c-student-title"> 수강생 </p>
        </div>
    </nav> -->

    <nav id="c-nav" class="c-nav-student c-student">
        <div class="c-home-ct">
            <img src="/src/assets/img/nav-home.svg" />
            <p class="c-home-title"> 홈 </p>
        </div>

        <div class="c-student-ct">
            <img src="/src/assets/img/nav-mylecture.svg" />
            <p class="c-student-title"> 내 강의 </p>
        </div>

        <div class="c-shopping-ct">
            <img src="/src/assets/img/nav-shopping.svg" />
            <p class="c-shopping-title"> 장바구니 </p>
        </div>
    </nav>


    <!-- <nav id="c-nav" class="c-nav-manager c-manager">
        <div class="c-home-ct">
            <img src="/src/assets/img/nav-home.svg" />
            <p class="c-home-title"> 홈 </p>
        </div>

        <div class="c-users-ct">
            <img src="/src/assets/img/nav-student.svg" />
            <p class="c-users-title"> 회원관리 </p>
        </div>

        <div class="c-contents-ct">
            <img src="/src/assets/img/nav-mylecture.svg" />
            <p class="c-contents-title"> 컨텐츠 관리 </p>
        </div>

        <div class="c-price-ct">
            <img src="/src/assets/img/nav-price.svg" />
            <p class="c-price-title"> 매출 관리 </p>
        </div>
    </nav> -->
