<nav id="c-lecture" class="c-nav-lecture c-nav">
    <div class="c-home-ct" data-lecture="home">
        <img src="/src/assets/img/nav-home.svg" data-lecture="home" />
        <p class="c-home-title" data-lecture="home"> 홈 </p>
    </div>

    <div class="c-student-ct" data-lecture="student">
        <img src="/src/assets/img/nav-student.svg" data-lecture="student" />
        <p class="c-student-title" data-lecture="student"> 수강생 </p>
    </div>
</nav>

<nav id="c-student" class="c-nav-student c-nav">
    <div class="c-home-ct" data-student="home">
        <img src="/src/assets/img/nav-home.svg" data-student="home" />
        <p class="c-home-title" data-student="home"> 홈 </p>
    </div>

    <div class="c-shopping-ct" data-student="shopping">
        <img src="/src/assets/img/nav-shopping.svg" data-student="shopping" />
        <p class="c-shopping-title" data-student="shopping"> 장바구니 </p>
    </div>
</nav>


<nav id="c-manager" class="c-nav-manager c-nav">
    <div class="c-home-ct" data-manager="home">
        <img src="/src/assets/img/nav-home.svg" data-manager="home" />
        <p class="c-home-title" data-manager="home"> 홈 </p>
    </div>

    <div class="c-users-ct" data-manager="users">
        <img src="/src/assets/img/nav-student.svg" data-manager="users" />
        <p class="c-users-title" data-manager="users"> 회원관리 </p>
    </div>

    <div class="c-contents-ct" data-manager="contents">
        <img src="/src/assets/img/nav-mylecture.svg" data-manager="contents" />
        <p class="c-contents-title" data-manager="contents"> 컨텐츠 관리 </p>
    </div>

    <div class="c-price-ct" data-manager="price">
        <img src="/src/assets/img/nav-price.svg" data-manager="price" />
        <p class="c-price-title" data-manager="price"> 매출 관리 </p>
    </div>
</nav>