@import '../css/components/header.css';
@import '../css/components/nav.css';
@import '../css/components/modal.css';

@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    src: url('../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard', sans-serif;
    margin: 0px;
    padding: 0px
}